@layer theme, base, mantine, components, utilities;

@import 'tailwindcss';
@import '@mantine/core/styles.layer.css';

@layer base {
  body {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
  }
}

@utility font-content {
  font-family: "Inter", sans-serif;
}

@theme {
  --breakpoint-3xl: 142em;
  --breakpoint-4xl: 172em;
}
